


:root {
    --primary-color: #3d0066;
    --accent-color: #ffee00;
    --background-color: rgb(51, 51, 51);
  }
  


header {
    text-align: center;
    color: white;
    background: radial-gradient(var(--primary-color) 25%, black);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

#page-title {
    font-family: 'perpetua';
    font-size: 50px;
}

#motto {
    color:rgb(187, 186, 187);
    font-size: 15px;
    font-family: 'papyrus';
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(160, 160, 160);
}

nav {
    text-align: center;
    background: linear-gradient(to bottom, black, var(--accent-color), black);
}

nav > button {
    border-color: var(--primary-color);
    border-style: groove;
}

button:hover {
    color: red;
}

body{
    color:white;
    background-color: var(--background-color);
    font-family: 'Söhne';
    font-size: 18px;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 0 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}

h3 {
    display: inline-block;
    background-color: rgb(150, 76, 190);
    padding: 10px;
    margin-top: 30px;
    text-shadow:  -1px -1px 0 var(--primary-color),
                   1px -1px 0 var(--primary-color),
                  -1px 1px 0 var(--primary-color),
                   1px 1px 0 var(--primary-color);
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    color: black;
}

table > caption {
    font-size: 16px;
    background-color: beige;
    padding-top: 4px;
    border: 2px solid black;
}

th, td {
    border: 1px solid black;
    background-color: rgb(190, 190, 190);
    width: 80px;
    vertical-align: top;
    text-align: left;
}

th {
    background-color: rgb(178, 110, 184);
}

#cls3240 {
    background-color: rgb(188, 91, 26);
}

#cls2550 {
    background-color: rgb(218, 166, 88);
}

#cls3310 {
    background-color: rgb(255, 4, 4);
}

#cls3520 {
    background-color: rgb(244, 198, 112);
}

#cls3370 {
    background-color: rgb(253, 124, 139);
}

.work {
    background-color: beige;
}

#meal {
    background-color: rgb(147, 161, 233);
}

p {
    margin-left: 30px;
}

.haiku {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}


.contact_info {
    font-size: 15px;
}

h2{
    text-align: center;
    color: white;
    background-color: var(--primary-color);
    padding: 7px;
}

